.card {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(37.5rem, 1fr));
	background-color: $primary-card-background;
	overflow: hidden;
	border-radius: 10px;
	color: $neutral-white;

	margin: 0 2rem;

	&__content-wrapper {
		display: flex;
		flex-direction: column;
		padding: 7rem;

		@media (max-width: 39.4375em) {
			align-items: center;
			text-align: center;
			padding: 2rem;
			justify-content: center;
		}
	}

	&__heading {
		font-size: 3.5rem;
		margin-bottom: 3rem;

		span {
			color: $primary-accent-color;
		}

		@media (max-width: 39.4375em) {
			margin-bottom: 2rem;
			font-size: 3rem;
		}
	}

	&__description {
		margin-bottom: 8rem;
		color: $neutral-transparent-white;
		font-weight: 300;
		line-height: 1.75;

		@media (max-width: 39.4375em) {
			margin-bottom: 4rem;
			width: 75%;
		}
	}

	&__stats-list {
		display: flex;

		list-style: none;
		justify-content: space-between;

		@media (max-width: 39.4375em) {
			flex-direction: column;
			gap: 3rem;
		}
	}

	&__stats-item {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	&__stats-value {
		font-size: 2.5rem;
	}

	&__stats-type {
		@include font-lexend-deca;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 300;
		font-size: 1.2rem;
		color: $neutral-more-transparent-white;
	}

	&__image-wrapper {
		position: relative;
		overflow: hidden;

		&::after {
			position: absolute;
			content: '';
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 999999;
			background-color: $primary-accent-color;
			mix-blend-mode: multiply;
		}

		@media (max-width: 39.4375em) {
			grid-row: 1/1;
		}
	}

	&__image {
		z-index: -1;
		height: 100%;
		width: 100%;
		object-fit: cover;
		display: block;
	}
}
